extends layout

block content
  h1= title

  form(id='CarForm', action="/resource/car", method="POST")
    div.form-group
        label.carAttr(for='carname') Car Name
        input#carname(type='text', name='Name')
    div.form-group
        label.carAttr(for='company') Car Company
        input#company(type='text', name='Company')
    div.form-group
        label.carAttr(for='price') Car Price
        input#price(type='text', name='Price')
    input(type="submit")

  script.
    document.forms['CarForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });