extends layout

block content
  h1= title

  - let carid = toShow._id
  - let carName = toShow.Name
  - let carCompany = toShow.Company
  - let carPrice = toShow.Price
  
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{carid}
  - let actionid = "/resource/cars/" + carid
  form(id='CarForm', action= actionid, method="GET")
    div.form-group
        label.carAttr(for='Name') Car Name
        input#carname(type='text', name='Name', value= Name )
    div.form-group
        label.carAttr(for='company') Car Company
        input#company(type='text', name='Company', value= Company )
    div.form-group
        label.carAttr(for='price') Car Price
        input#price(type='number', name='Price', value= Price )
    input(type="submit")

  script.
    document.forms['CarForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'GET',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        //resp = "sample";
        console.log("sample")
        alert("Update failed " + error )
      });
    });
